<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary" itemprop="description">
          <p>Seasoned software developer capable of designing and implementing challenging software systems utilizing recent technologies.</p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button" itemprop="email">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Exchange Solutions</h3>
          <h4 class="resume-item-details" itemprop="description">Software Architect &bull; Nov, 2014 &mdash; Present</h4>
          <p class="resume-item-copy">Responsible for designing and building Java software for large-scale projects, which are re-useable, scalable and consistent with development framework and technology roadmap.</p>
          <ul class="resume-item-list">
            <li>Transform business issues and requirements into functional specifications.</li>
            <li>Take rules and solutions from Technical Solutions Architects and design complex Java systems.</li>
            <li>Java design and development from the presentation layer (XHTML, JSPs, servlets, JavaBeans) to the middle tier (EJBs, JMS, JDBC, JNDI) for the full lifecycle.</li>
            <li>Writing Java code in an object oriented fashion.</li>
            <li>Conducting Unit and Functional testing.</li>
            <li>Identify and allocate appropriate resources to projects.</li>
          </ul>
        </div><!-- end of resume-item -->

        <!-- another resume item -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Nuvango</h3>
          <h4 class="resume-item-details" itemprop="description">Senior Web Developer &bull; Dec, 2013 &mdash; Oct, 2014</h4>
          <p class="resume-item-copy">Ruby on rails web site development and maintenance.</p>

        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">TheScore Inc.</h3>
          <h4 class="resume-item-details" itemprop="description">Web Developer &bull; Apr, 2010 &mdash; Dec, 2013</h4>
          <p class="resume-item-copy">Ruby on rails web site development and maintenance.</p>
          <ul class="resume-item-list">
            <li>Development of new features as requested by the users.</li>
            <li> Participated in the conversion of the mobile backend for the mobile applications, porting and adapting code to make use of the same website database and feeder system. </li>
            <li>Maintenance and bug fixes.</li>
            <li>Migrated Rails 2.3 projects to Rails 3 resolving code issues.</li>
          </ul>

        </div><!-- end of resume-item -->

      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Faculdade de Informatica Paulista (Fiap)</h3>
          <h4 class="resume-item-details" itemprop="description">Post-Graduate Diploma, Information Technology &bull; 2000 &mdash; 2001</h4>
          <p class="resume-item-copy">Study of marketing applied to internet, Object-Oriented Analysis and Design, JAVA programming language, Project Management, Operational Systems and Networks.
            Graduation thesis work was focused on analyzing, modeling, implementing and testing an online Bookstore System.</p>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Universidade Bandeirante de São Paulo</h3>
          <h4 class="resume-item-details" itemprop="description">Superior Degree, Information Technology &bull; 1996 &mdash; 1998</h4>
          <p class="resume-item-copy">Study of Algorithms, C programming language, Visual Basic programming Language, Operational Systems, Structured Analysis.Graduation thesis work was focused on research about Source Code Management systems.</p>
        </div>
      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://donutlocator.io">donutfinder.io</a></h3>
          <h4 class="resume-item-details">Founder & Primary Developer &bull; 2012 &mdash; Present</h4>
          <p class="resume-item-copy">Donut Locator is an open source node/ember app that lets users find donuts within a defined radius from their home.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Donut Eater's User Group</h3>
          <h4 class="resume-item-details">Co-Founder & Organizer &bull; 2007 &mdash; Present</h4>
          <p class="resume-item-copy">DEUG is a local monthly meetup in Springfield where we share all the latest tips and tricks for dat donut lifestyle. I organize the group, and typically eat most of the donuts.</p>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Software Modelling/Design</h4>
          <p class="resume-item-copy">UML, Domain Driven Design, CRC Cards Design</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Technologies</h4>
          <p class="resume-item-copy">Spring Boot, Spring JPA, Spring MVC, Camel, Spring Integration, Hibernate, Mongo DB, Postgres, Mysql</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Programming Languages</h4>
          <p class="resume-item-copy">Java, Groovy, Ruby, Javascript</p>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Exchange Solutions</h3>
          <h4 class="resume-item-details">BRAVO Core Value Recognition &bull; 2016</h4>
          <p class="resume-item-copy">Awarded for Excellent working attitude, always willing to help/work with others to investigate problems, even when it is not part of his own task.</p>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="https://www.meetup.com/torontoruby/">Toronto Ruby</a></li>
            <li><a href="https://www.meetup.com/torontojs/">Toronto JavaScript</a></li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">Made by <a href="http://twitter.com/jglovier">@jglovier</a>. Fork me on <a href="https://github.com/jglovier/resume-template">GitHub</a>.</p>
      </footer>

    </div>

  </body>

</html>
